/*Universal Styles*/
html, body {
  margin: 0;
  padding: 0;
  font-family: helvetica;
  font-size: 18px;
  line-height: 1.4;
}

.site-container {
  width: 960px;
  margin: 0 auto;
}

.flex-section {
  display: flex;
}

/*Main Section Styles*/
main {
  display: block;
  width: 100%;
  height: 31rem;
  background-image: url(../pics/glasses-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
  /*Main >> Header Section << styles*/
header {
  margin: 0 auto;
  height: 3rem;
  background-color: cadetblue;
  position: relative;
  top: 1rem;
  align-items: center;
  color: white;
}

header nav span {
  margin-right: 2rem;
}

header .menu {
  display: none;
}

.header-left {
  align-items: center;
  flex-grow: 1;
}

header .logo {
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}
  /*Main >> Banner Section << styles */
.banner {
  position: relative;
  top: 11rem;
  height: 5rem;
  background-color: white;
  width: 33.9rem;
  text-align: center;
  float: right;
  margin-right: -2rem;
  align-items: center;
}

.banner h1 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
  margin: 1.5rem 5rem;
}

/*Gallery Styles*/
.gallery {
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.paper-icon,
.ruler-icon,
.truck-icon {
  width: 5rem;
  height: 8rem;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

#paper-icon {
  width: 3.5rem;
}

#ruler-icon,
#truck-icon {
  width: 5rem;
}

.ruler-icon {
  margin-left: 6rem;
  margin-right: 6rem;
}

.gallery span {
  text-align: center;
}

/*Narrative Styles*/
.narrative h3 {
  height: 2rem;
  width: 10rem;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  background-color: cadetblue;
  padding: 0.5rem 0 0.5rem 1.5rem;
  align-items: center;
  margin-bottom: 1rem;
}

.philosophy,
.appointments {
  width: 35%;
  margin-bottom: 5rem;
}

.philosophy {
  margin-left: 12.5%;
}

.appointments {
  margin-left: 5%;
}

/*Fotter Styles*/
footer {
  height: 9.5rem;
  background-color: azure;
  align-items: center;
}

footer .logo {
  height: 1.5rem;
  margin-left: 4rem;
  margin-right: 1rem;
}

/*Media Query Styles*/

/*Tablet Styles*/
@media only screen and (max-width: 1024px) {
  /*Universal Styles*/
  .site-container {
    width: 100%;
  }

  /* >> Main Styles << */
  main {
    height: 22rem;
    background-size: 160%;
  }

  /* >> Header Styles << */
  header {
    position: relative;
    top: 0;
  }

  /* >> Banner Styles << */
  .banner {
    position: relative;
    top: 5rem;
    height: 5.2rem;
    width: 23.9rem;
    margin-right: 2rem;
  }

  .banner h1 {
    font-size: 1.33rem;
    margin: 0.75rem 4rem;
  }
}

/*Smart Phone Styles*/
@media only screen and (max-width: 650px) {
  /* >> Universal Styles <<*/
  .site-container {
    width: 100%;
  }

  /* >> Main Styles <<*/
  main {
    height: 17rem;
    background-position: 20%;
    background-size: cover;
  }

  /* >> Header Styles << */
  header nav span {
    display: none;
  }

  header nav .menu {
    display: block;
  }

  .header-left span {
    display: none;
  }

  /* >> Banner Styles << */
  .banner {
    position: relative;
    top: 9rem;
    height: 3rem;
    width: 100%;
    margin-right: 0;
    justify-content: center;
  }

  .banner h1 {
    font-size: 1rem;
    margin: 1rem 0;
  }

  /* >> Gallery Styles << */
  .gallery {
    margin-top: 3.77rem;
    margin-bottom: 3.77rem;
    flex-direction: column;
    align-items: center;
  }

  .truck-icon {
    height: 5rem;
  }

  .ruler-icon {
    margin: 1.54rem 0;
    height: 6rem;
  }

  .gallery span {
    font-size: 0.77rem;
  }

  /* >> Narrative Styles << */
  .narrative {
    flex-direction: column;
  }

  .philosophy,
  .appointments {
    margin-left: 0;
    margin-bottom: 4rem;
  }

  .narrative h3 {
    width: 100%;
    justify-content: center;
    padding: 0.5rem 0;
  }

  .narrative p {
    font-size: 0.77rem;
    padding: 0 0.75rem;
  }

  /* >> Footer Styles << */
  footer span {
    display: none;
  }

  footer .logo {
    margin: 0 auto;
  }
}
